:root {
    --background-color: #fafafa;
    --gray-nav-search-bg: #f0f0f0;
}


$background-color:var(--background-color);

.bg-white {
    background-color: #fff;
}

.br3 {
    border-radius: .5rem;
}